 # Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* Popular languages
* Arithmetic operations
* Data Science Tools

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java


# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib



| Data Science Tools  |
| -------- |
| Spark | 
| Hadoop|
| Scrapy |

<h3>Below are a few examples of evaluating arithmetic expressions in Python: </h3>

In [10]:
a=126+44
print(a)
b=233*4
print(b)
c=421/4
print(c)

170
932
105.25

In [11]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [3]:
## This will convert 200 minutes to hours by diving by 60.
minutes=200;

hours= int(minutes)/60

print(hours)

3.3333333333333335

<h2> Author: Juan Calvo Arenas </h2>